<section class="empty-cart">

  <div>
    <h3>Uh oh -- your cart is empty!</h3>
    <p>Hey there Jungle shopper. Head on back to the product page, add some products to your cart, then try this checkout thing again.</p>

     <%= link_to "Go back to the home page", root_path %>
  </div>
</section>


